@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.App {
  background: #e5e5e5;
}
h1,
p {
  font-family: Lato;
}
* {
  margin: 0;
  padding: 0;
}
.html {
  margin: 0;
  padding: 0;
}
.body {
  margin: 0;
  padding: 0;
}
.hero {
  position: absolute;
  width: 1440px;
  height: 550px;
  left: 0px;
  top: 138px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.pexels.com/photos/7991158/pexels-photo-7991158.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-7991158.jpg&fm=jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  width: 1440px;
  min-height: 140px;
  background: #292929;
}
.logo {
  position: absolute;
  width: 193px;
  height: 60px;
  left: 77px;
  top: 40px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.logo p {
  position: absolute;
  width: 156.7px;
  height: 32.94px;
  left: 19px;
  top: 14px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.hero-text {
  position: absolute;
  width: 490px;
  height: 282px;
  left: 77px;
  top: 247px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: -0.05em;

  color: #ffffff;
}
.categories-1 {
  position: absolute;
  width: 100%;
  min-height: 349px;
  left: 67px;
  top: 1285px;
}
.categories-2 {
  position: absolute;
  width: 1552px;
  height: 349px;
  left: 67px;
  top: 888px;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 1306px;
  height: 89px;
  left: 77px;
  top: 751px;
}
.search-bar {
  position: static;
  width: 1306px;
  height: 54px;
  left: 0px;
  top: 35px;
  border: 1px solid #000000;
  box-sizing: border-box;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}
.category-name {
  position: absolute;
  width: 279px;
  height: 31px;
  left: 67px;
  top: 888px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.all-movies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 1552px;
  height: 300px;
  left: 67px;
  top: 937px;
}
.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  position: static;
  width: 300px;
  height: 300px;
  left: 0px;
  top: 0px;
  background: #000000;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 13px;
}

@media screen and (max-width: 834px) {
  .header {
    width: 834px;
    height: 140px;
    left: 0px;
    top: 0px;
  }
  .logo {
    width: 193px;
    height: 60px;
    left: 321px;
    top: 40px;
  }
  .hero {
    width: 834px;
    height: 550px;
    left: 0px;
    top: 138px;
  }
  .hero-text {
    position: absolute;
    width: 490px;
    height: 282px;
    left: 172px;
    top: 247px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #ffffff;
  }
  .search {
    width: 680px;
    height: 89px;
    left: 77px;
    top: 751px;
  }
  .search-bar {
    width: 680px;
    height: 54px;
    left: 0px;
    top: 35px;
  }
}
@media screen and (max-width: 321px) {
  .header {
    width: 321px;
    height: 67px;
    left: 0px;
    top: 0px;
  }
  .logo {
    width: 321px;
    height: 67px;
    left: 0px;
    top: 0px;
  }
  .hero {
    width: 320px;
    height: 257px;
    left: 0px;
    top: 67px;
  }
  .hero-text {
    position: absolute;
    width: 490px;
    height: 282px;
    left: 172px;
    top: 247px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #ffffff;
  }
  .search {
    width: 265px;
    height: 59px;
    left: 28px;
    top: 380px;
  }
  .search-bar {
    width: 265px;
    height: 34px;
    left: 0px;
    top: 25px;
  }
  .categories-1 {
    width: 626px;
    height: 249px;
    left: 28px;
    top: 472px;
  }
  .categories-2 {
    width: 626px;
height: 249px;
left: 28px;
top: 754px;
  }
}
